
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    background-color: #005a8f;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

header nav ul li a:hover {
    text-decoration: underline;
}


.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px); 
    background-color: #f4f4f4; 
}

.login-container {
    background-color: white; 
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px; 
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}

.login-form label {
    text-align: left;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

.login-form input[type="number"],
.login-form input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    width: calc(100% - 22px); 
}

.login-form input[type="number"]:focus,
.login-form input[type="password"]:focus {
    border-color: #005a8f;
    outline: none;
}

.button1 {
    background-color: #005a8f;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0074b1;
}

.login-links {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.login-links a {
    color: #005a8f;
    text-decoration: none;
}

.login-links a:hover {
    text-decoration: underline;
}
